@font-face {
  font-family: 'Roboto Reguler';
  src: url('Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  min-height: 100vh;
  background: linear-gradient(to bottom, #B9EDDD, #577D86);
  font-family: 'Roboto Reguler';
}

/* body {
  min-height: 100vh;
  background-color: aliceblue;
  /* background-image: url("/img/bintang.gif");
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; */
/* } */ 

nav{
  /* background: linear-gradient(to right, #1D1CE5, #C47AFF); */
  background-color: #B9EDDD;
}

/* nav {
  background-color: transparent;
  opacity: 0;
} */


